{% extends 'base.html' %}
{# {% load socialaccount %} #}  <-- این خط را کامنت کنید
{% block title %}ورود به حساب کاربری{% endblock %}

{% block content %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <h2>ورود به حساب</h2>

    {% if form.non_field_errors %}
      <div class="nonfield-error">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    <label for="{{ form.username.id_for_label }}">نام کاربری:</label>
    {{ form.username }}
    {% for error in form.username.errors %}
      <div class="error">{{ error }}</div>
    {% endfor %}

    <label for="{{ form.contact.id_for_label }}">ایمیل یا شماره موبایل:</label>
    {{ form.contact }}
    {% for error in form.contact.errors %}
      <div class="error">{{ error }}</div>
    {% endfor %}

    <label for="{{ form.password.id_for_label }}">رمز عبور:</label>
    {{ form.password }}
    {% for error in form.password.errors %}
      <div class="error">{{ error }}</div>
    {% endfor %}

    <p style="margin-top: 10px;">
      <a href="{% url 'PasswordReset_email' %}">فراموشی رمز عبور؟</a>
    </p>

    <button type="submit">ورود</button>

    {# <a href="{% provider_login_url 'google' %}"> #}  <-- این خط را کامنت کنید
    {#   <button type="button" style="margin-top: 10px; background-color: #db4437;"> #}  <-- این خط را کامنت کنید
    {#     ورود با گوگل #}  <-- این خط را کامنت کنید
    {#   </button> #}  <-- این خط را کامنت کنید
    {# </a> #}  <-- این خط را کامنت کنید

    <p style="text-align:center; margin-top: 10px;">
      هنوز حساب ندارید؟
      <a href="{% url 'signin' %}">ثبت‌نام کنید</a>
    </p>

    {% if messages %}
      {% for message in messages %}
        <p class="error">{{ message }}</p>
      {% endfor %}
    {% endif %}
  </form>
{% endblock %}