{% extends 'base.html' %}

{% block title %}تأیید کد ریست{% endblock %}

{% block content %}
  <h2>تأیید کد پیامکی</h2>
  <p>کد دریافتی را جهت تأیید وارد نمایید</p>
  <form method="post">
    {% csrf_token %}
    <input type="text" name="code" placeholder="کد تأیید">
    <button type="submit">تأیید</button>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </form>
{% endblock %}
